nav, .nav-links {
    display: flex;
}

nav div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav {
    justify-content: space-around;
    padding: 20px;
    background-color: black;
    color: white;
}

.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
    cursor: pointer;
}

nav a {
    color: black;
    text-decoration: none;
    text-decoration-color: white;
    color: white;
}

nav a:hover {
    color: aqua;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181, 181, 181);
}

body {
    padding: 0;
    margin: 0;
}

/* Welcome Section */

#welcome-section {
    height: 100vh;
    background-color: aqua;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

#welcome-section h1 {
    font-size: 4rem;
}

#welcome-section p {
    font-size: 2rem;
    color: white;
}

/* Project Section */    

#projects {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    background-color: darkslateblue;
    align-items: center;
}

#projects h2 {
    margin-top: 6rem;
    margin-bottom: 4rem;
    font-size: 3rem;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: black;
    text-align: center;
}

.project-img {
    height: auto;
    max-width: 100%;
    margin: auto 0;
    border-radius: 2rem;
    cursor: pointer;
}

.project-text {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    margin: 0.5rem;
    cursor: pointer;
    margin-top: 1rem;
}

.project-text:hover {
    color: aqua;
    text-decoration: none;
}

.project-tile {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    padding: 1.5rem;
    flex: 1;
    border-radius: 2rem;
    border: black solid;
    text-align: center;
    background-color: white;
    max-width: 600px;
    width: 100%;
}

#btn-container {
    margin: auto auto;
    padding: 30px 30px;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#all-btn {
    height: 50px;
    width: 150px;
    font-size: 1.2rem;
    background-color: white;
    border: none;
}

#all-btn:hover {
    background-color: aqua;
    cursor: pointer;
}

/* Contact */

#contact {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 2rem;
}

#contact h1 {
    font-size: 4rem;
    margin-bottom: 0.5rem;
}

#contact p {
    margin-bottom: 3rem;
    font-size: 1.5rem;
}

#contact-nav {
    background-color: white;
    list-style: none;
}

#contact-nav ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
}

#contact-nav li {
    list-style: none;
}

.icon {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 4rem;
    width: 4rem;
    margin: 2rem;
}

#contact-nav span {
    color: black;
}

footer {
    border-top: 0.5rem aqua solid;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
}

@media screen and (max-width: 600px) {
    #projects {
        padding: 20px;
    }

    .project-tile {
        max-width: 100%;
    }
}

